html{
  text-align: center;
  background-color: black;
  font-family: verdana;
  color: white;
}

#heading{
  font-size: 50px;
}

#download{
  font-size: 16px;
  color: aquamarine;
}

#sub_heading{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.travel_guide{
  color: gray;
}

.footer{
  color: gray;
  text-align: right;
}

a:link {
    color: aquamarine;
}
a:visited {
    color: aquamarine;
}
a:hover {
    color: aquamarine;
}
a:active {
    color: aquamarine;
}
